ul{
    list-style-type: none;
    margin: 20px;
    padding: 30px;
    overflow: auto;
    background-color: rgb(0, 17, 255);
    height: 100%;
    }

    li a {
        display: block;
        color: #000;
        padding: 8px 16px;
        text-decoration: none;
        z-index: 1;
        }

    li {
    float: right;
    }
    
    li a {
        display: block;
        color: cyan;
        text-align: start;
        padding: 14px 16px;
        text-decoration: dashed;
        font-size: 30px;
        border: dotted;
    }

    li a:hover {
    background-color: red;
    }
